.header{
    display: flex;
    width:85% !important;
    margin: 0 auto;
    padding: 2rem;
  
    
}
.Home{ 
    color:White !important;
    font-size: 25px;
    font-weight: 700;
    text-decoration: transparent !important;
  
}
.bookmark{
    float: right !important;
    color:rgba(255, 255, 255, 0.922);
    font-size: 25px;
    font-weight: 300;
    position: absolute;
    right:200px;
   
}
.card{
    width:50%;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 0rem !important;
    background:none;
    border: none;
    color:white !important;
   
    
}
.inputselector{
    width:16%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap:2rem

}
.btn{
    background-color: none;
    border: none;
    float: right;

}
.cardcontent{ 
    background-color:#D05252!important;
    margin-top: 20px !important;
}
.btn1{
    background: #009C51;
box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.25);
border-radius: 30px;
border: none;
padding: 10px;
color:white
}
.author{
    text-align: center !important; 
    margin-top: 50px !important;
}
@media screen and (max-width:1024px) {
    .card{
        width:70%;
      
        
    }
    .inputselector{
        width:40%;
       
    
    }
   .bookmark{
    right: 100px;
   }
}
@media screen and (max-width:600px) {
    .header{
        width:100% !important;
        padding: 0rem;
    }
    .card{
        width:90% !important;
        padding: 0rem;
        
    }
    .inputselector{
        width:75%;
       
    
    }
    .bookmark{
        right:0px
    }
  
}


