.header{
    display: flex;
    width:85% !important;
    margin: 0 auto;
    padding: 2rem;
    gap:calc(85%) !important
    
}
.Home{
    color:White;
    font-size: 25px;
    font-weight: 700;
}
.bookmark{
    float: right !important;
    color:rgba(255, 255, 255, 0.922);
    font-size: 25px;
    font-weight: 300;
}
.card{
    width:50%;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgb(120, 20, 20)!important;
    color:white !important;
    margin-top: 2rem;
    
}
.inputselector{
    width:20%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap:2rem

}
.btn{
    background-color: none;
    border: none;

}
.cardcontent{ 
    background-color:rgb(120, 20, 20)!important;
    margin-top: 20px !important;
}
.btn1{
    padding: 1rem !important;
    background-color: rgb(21, 89, 21) !important;
}
.author{
    text-align: right !important; 
    margin-top: 50px !important;
}