.header{
    display: flex;
    width:85% !important;
    margin: 0 auto;
    padding: 2rem;
    gap:calc(85%) !important
    
}
.Home{
    color:White;
    font-size: 25px;
    font-weight: 700;
}
.bookmark{
    float: right !important;
    color:rgba(255, 255, 255, 0.922);
    font-size: 25px;
    font-weight: 300;
}
.card{
    width:50%;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgb(174, 24, 24)!important;
    color:white !important
}
.inputselector{
    width:20%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap:2rem
}
.cardcontent{
    background-color:rgb(174, 24, 24)!important;
}
Button{
    padding: 1rem !important;
    background-color: rgb(39, 186, 39) !important;
}
.author{
    text-align: right !important; 
    margin-top: 50px !important;
}